/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05123C;
  background-image: url(./images/opt1.png);
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  text-align: center;
  font-family: heebo;
  color: #30a5b7;
}

.app{
  width: 100%;
  height: 100%;
}

/* HEADER */

header{
 top: 0px;
 width: 100%;  
 height: 8vh;
}
.headercont{
  display: flex;
  align-items: center;
  height: 100%;
}
.logo{
  height: 48px;
  margin: 5px;            
}

#title{
  text-shadow: 0px 0px 5px #000;
  font-family: PT Sans Narrow;
  font-size: 30px;
}
#title:hover{
  color:#DFF8FF
}

/* MAIN */

main{
  height: 80vh
}

/* NAV */

nav {
  
  display: flex;
  height: 12vh;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px #000;
}


a {
  color: #30a5b7;
  text-decoration: none;
  padding: 6px;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px; 
  font-weight: 100;
}

a:hover {
  color: #DFF8FF;
  font-weight: 200;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}