/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(315deg, #0d1d54, #0f2264);
  background-repeat: round;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  text-align: center;
  font-family: heebo;
  color: #DFF8FF;
}

.app{
  width: 100%;
  height: 100%;
}

/* HEADER */

header{
 top: 0px;
 width: 100%;  
}

/* NAV */

h3 {
  font-family: PT Sans Narrow;
}

a {
  color: #DFF8FF;
  text-decoration: none;
  padding: 6px;
}
a:hover {
  color: #3967AB;
  font-weight: 200;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}